<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h3><%= @list.name %></h3>

  </div>
</div>

<ul class="list-group m-2">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.movie %> --- <%= bookmark.comment %></li>


  <% end %>
</ul>

<%= link_to 'Back', lists_path, class: "btn btn-primary m-2" %>
<%= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: "btn btn-secondary m-2" %>
